
<h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> &nbsp;Latest Comment</h3><hr />



@foreach (Blog.Models.Comment item in ViewBag.comments)
{


    
        

    <div>
        <div style="float:left; padding:10px">

            <img src="http://placehold.it/64x64" alt="" class=" img-circle" width="35">

        </div>
        <div class ="widgetbubble">  @Html.Raw(item.Text.Length >= 20 ? item.Text.Substring(0, 20) : item.Text)</div>



    </div>

}


