


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href='@Url.Action("Index", "Manage", routeValues: null)' title="manage profile">
                    <i class="glyphicon glyphicon-user"></i>
                </a>


            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" title="log-out"><span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>


        <li>
            <a href='@Url.Action("Login", "Account")' title="login">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
        </li>

    </ul>
}
