
<h3><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> &nbsp;TAGS</h3><hr />

<div ng-controller="Tagwidgetcontroller" ng-init="click()">
    


    <span ng-repeat="item in myData.fromServer track by  $index" class="tagmargin">

        <span class="label label-{{random($index)}} fontsize">

            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  &nbsp;
            <a class="linklabel" ng-click="tagclick(item.Name)">
                {{item.Name }}
            </a>

            <span class="badge">{{ item.Count }}</span>
        </span>
    </span>

</div>


