@model PagedList.IPagedList<Blog.Models.Comment>

@using PagedList;

@using PagedList.Mvc;



@{
    List<Blog.Models.Comment> list = Model.Where(x => x.ParentId == 0).ToList();
}
<ul>
    @foreach (var item in list)
    {
        <li class="comment">@Html.Partial("_commentchildren", item)</li>
    }
</ul>







@Html.PagedListPager(Model, page => Url.Action("Details", "posts", new
   {
       id = Model[0].PostId.Id
       ,
       page =
          page
   }))



