@model PagedList.IPagedList<Blog.Models.Post>
@using PagedList;

@using PagedList.Mvc;





<p>
    @if (User.IsInRole("Admin")) { 
        <br />
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    }
</p>
<div id="blogs">

        @Html.Partial("_Postlist", Model)
    
  
</div>